<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <title>Yelp Camp</title>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- left -->
      <div class="nav-header">
        <a class="navbar-brand" href="/">YelpCamp</a>
      </div>
      <!-- right -->
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if (!currentUser) { %> 
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign Up</a></li>
          <% } else { %> 
            <li><a href="#">Signed in as <%= currentUser.username %> </a></li>
            <li><a href="/logout">Logout</a></li>
          <% } %> 
        </ul>
      </div>
    </div>
  </nav>
