<%- include("partials/header") %>
<h1>This is campgrounds</h1>

<a href="/campgrounds/new">Add new campground</a>

<% campgrounds.forEach(function(campground) { %>
  <div>
    <h4><%= campground.name %></h4>
    <img src="<%= campground.image %>" width="375px" height="auto">
  </div>
<% }); %>

<%- include("partials/footer") %>